* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}


.container {
    max-width: 1920px;
    padding: 0 405px;
    margin: 0 auto;
}

.header {
    background-color: #000;
    padding-top: 14px;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;


    &__list {
        display: flex;
        align-items: center;
        gap: 18px;
    }

    &__link {
        font-weight: 400;
        font-size: 12px;
        color: gray;
    }

    a {
        font-weight: 400;
        font-size: 12px;
        color: gray;
    }

    span {
        font-weight: 400;
        font-size: 12px;
        color: gray;
    }

    &__btn {
        background: none;
        border: none;
        cursor: pointer;
        font-weight: 400;
        font-size: 12px;
        text-align: right;
        color: gray;
        display: flex;
        align-items: center;
        gap: 10px;
    }

}

.phone {
    display: flex;
    align-items: center;
    gap: 18px;
}

.navigate {
    background-color: #0f0f0f;
    padding: 25px 0;
    margin-top: 15px;

    &__wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__list {
        display: flex;
        align-items: center;
        gap: 40px;
    }

    &__link {
        font-weight: 400;
        font-size: 14px;
        text-transform: uppercase;
        color: gray;
        padding: 30px 20px;
        cursor: pointer;
    }

    & .active {
        background-color: #1f1f1f;
        color: white;
    }
}

.porten {
    background-image: url(img/piterman.jpg);
    padding: 150px 0;
}


    .porten__logo {
        border-bottom: 2px solid white;
       display: block;
       margin: 0 auto;
    }

    .porten__p {
        font-family: var(--second-family);
        font-weight: 400;
        font-size: 22px;
        text-transform: uppercase;
        text-align: center;
        color: white;
        margin-top: 7px;
    }


.square {
    border: 3px solid white;
  
margin: 0 auto;
    width: 320px;
    height: 320px;
    margin-bottom: 80px;
}
.square__desc{
align-items: center;
display: flex;
flex-direction: column;
margin-top: 90px;
}
.porten__desc{
    font-family: var(--second-family);
font-weight: 400;
font-size: 16px;
line-height: 150%;
text-transform: uppercase;
text-align: center;
width: 750px;
color: white;
// display: flex;
margin: 0 auto;
}