@font-face {
    font-family: "PayfairDisplay";
    src: local("PayfairDisplay"), url("./fonts/PlayfairDisplay-Bold.ttf") format("truetype");
    font-weight: 700;
    font-display: swap;
}

@font-face {
    font-family: "PayfairDisplay";
    src: local("PayfairDisplay"), url("./fonts/PlayfairDisplay-Regular.ttf") format("truetype");
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: "PTSans";
    src: local("PTSans"), url("./fonts/PTSans-Regular.ttf") format("truetype");
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: "PostNoBillsJaffna";
    src: local("Archangelsk"), url("./fonts/PostNoBillsJaffna-Bold.ttf") format("truetype");
    font-weight: 700;
    font-display: swap;
}

body {
    font-family: "PTSans", sans-serif;
    background-color: #000;
}




* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}


span {
    border: 1px solid white;
    max-width: 120px;
    width: 100%;
    height: 0px;
    margin-bottom: 40px;
    margin-top: 40px;
}


.container {
    max-width: 1920px;
    padding: 0 405px;
    margin: 0 auto;

    @media (max-width: 1780px) {
        padding: 0 160px;
    }
    @media (max-width: 1380px) {
        padding: 0 80px;
    }
}

.header {
    background-color: #000;
    padding-top: 14px;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;


    &__list {
        display: flex;
        align-items: center;
        gap: 18px;
    }

    &__link {
        font-weight: 400;
        font-size: 12px;
        color: gray;
    }

    a {
        font-weight: 400;
        font-size: 12px;
        color: gray;
    }

    span {
        font-weight: 400;
        font-size: 12px;
        color: gray;
    }

    &__span {
        font-weight: 400;
        font-size: 12px;
        color: gray;
    }

    &__btn {
        background: none;
        border: none;
        cursor: pointer;
        font-weight: 400;
        font-size: 12px;
        text-align: right;
        color: gray;
        display: flex;
        align-items: center;
        gap: 10px;
    }

}

.phone {
    display: flex;
    align-items: center;
    gap: 18px;
}

.navigate {
    background-color: #0f0f0f;
    padding: 25px 0;
    margin-top: 15px;

    &__wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__list {
        display: flex;
        align-items: center;
        gap: 40px;
    }

    &__link {
        font-weight: 400;
        font-size: 14px;
        text-transform: uppercase;
        color: gray;
        padding: 30px 20px;
        cursor: pointer;

        transition: background-color, color, 0, 5s;

        &:hover {
            background-color: black;
            color: white;
        }
    }

    & .active {
        background-color: #1f1f1f;
        color: white;
    }
}

.porten {
    background-image: url(img/piterman.jpg);
    padding: 150px 0;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}


.porten__logo {
    border-bottom: 2px solid white;
    display: block;
    margin: 0 auto;
}

.porten__p {
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 22px;
    text-transform: uppercase;
    text-align: center;
    color: white;
    margin-top: 7px;
}


.square {
    border: 3px solid white;

    margin: 0 auto;
    width: 320px;
    height: 320px;
    margin-bottom: 80px;
}

.square__desc {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-top: 90px;
}

.porten__desc {
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    text-transform: uppercase;
    text-align: center;
    width: 750px;
    color: white;
    // display: flex;
    margin: 0 auto;
}

.season {
    display: flex;
    max-width: 1920px;
    width: 100%;
    margin: 0 auto;
}

.seasoncards {
    width: 1040px;
    background-color: black;


    &__title {
        font-family: var(--font-family);
        font-weight: 700;
        font-size: 36px;
        text-transform: uppercase;
        text-align: center;
        color: white;
        padding: 93px 0 0 0;


    }
}

.line {
    height: 1px;
    background-color: white;
    width: 120px;
    margin: 0 auto;
    margin-top: 50px;
}

.cards {
    display: flex;
    gap: 50px;
    margin-top: 50px;
    justify-content: center;
}

.card__title {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 18px;
    color: white;
}

.card__desc {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 16px;
    color: lightgray;
    margin-top: 10px;
}

.card__img {
    border: 2px solid #191b1c;
    background-color: #191b1c;
    padding: 55px 22px;
    margin-bottom: 25px;
}

.newcoll {
    background-color: black;
    background-image: url(img/man_sitting.jpg);
    width: 880px;

    &__h3 {
        font-family: var(--font-family);
        font-weight: 700;
        font-size: 36px;
        text-transform: uppercase;
        text-align: center;
        color: white;
        margin-bottom: 30px;
        margin-top: 484px;
    }

    &__button {
        font-family: var(--second-family);
        font-weight: 400;
        font-size: 18px;

        letter-spacing: 0.1em;
        text-transform: uppercase;
        text-align: center;
        color: white;
        border: 1px solid white;
        padding: 12px 28px;
        background: none;
        margin: 0 auto;
        //  width: 150px;
        display: block;
        margin-bottom: 92px;
    }
}

.newcollline {
    background-color: white;
    display: block;
    width: 120px;
    height: 1px;
    margin: 0 auto;
    margin-bottom: 30px;
}

.oldcol {
    display: flex;
    max-width: 1920px;
    width: 100%;
    margin: 0 auto;

    &__desc {
        background-color: #000;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 100px 285px;
    }

    &__title {
        font-family: var(--font-family);
        font-weight: 400;
        font-size: 36px;
        text-transform: uppercase;
        text-align: center;
        color: white;
        font-family: PayfairDisplay;
    }

    &__p {
        font-family: var(--second-family);
        font-weight: 400;
        font-size: 14px;
        line-height: 150%;
        text-align: center;
        color: white;
        width: 471px;
        margin-bottom: 61px;
    }

    &__btn {
        font-family: var(--second-family);
        font-weight: 400;
        font-size: 17px;
        letter-spacing: 0.1em;
        text-transform: uppercase;
        text-align: center;
        color: white;

        background-color: #000;
        border: 1px solid white;
        padding: 12px 28px;
        width: 311px;
        height: 47px;

    }

}

.oldcol__bg {
    background-image: url(img/roseman.jpg);
    max-width: 880px;
    width: 100%;
    height: 600px;

    @media (max-width: 1780px) {
        background-position: center;
        height: auto;
        background-repeat: no-repeat;
    }
}


.new__title {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 36px;
    text-transform: uppercase;
    text-align: center;
    color: white;
    font-family: PostNoBillsJaffna;
    margin-top: 120px;
}

.new span {

    border: 1px solid white;
    height: 0px;
    max-width: 120px;
    width: 100%;
    display: block;
    margin: 0 auto;
    margin-bottom: 121px;
    margin-top: 40px;
}

.new .cards {
    margin-top: 80px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 35px;
    margin-bottom: 150px;
}

.our {
    background-color: #0f0f0f;
    padding-top: 60px;

    &__title {
        font-family: PostNoBillsJaffna;
        font-weight: 700;
        font-size: 36px;
        text-transform: uppercase;
        text-align: center;
        color: white;
        // margin-top: 60px;
    }
}

.our span {
    border: 1px solid white;
    width: 120px;
    height: 0px;
    display: block;
    margin: 0 auto;
    margin-bottom: 40px;
    margin-top: 40px;
}

.our__coco {
    display: flex;
    gap: 30px;
    padding-bottom: 80px;
}

.last {
    background-image: url(img/stairman.jpg);
    background-repeat: no-repeat;
    background-size: cover;

    &-wrapper {
        display: flex;
    }
}

.about {
    padding-top: 80px;
    padding-bottom: 101px;

    &__title {
        font-family: PayfairDisplay;
        font-weight: 400;
        font-size: 24px;
        text-transform: uppercase;
        color: white;
        margin-bottom: 40px;
    }

    &__p {
        font-family: PayfairDisplay;
        font-weight: 400;
        font-size: 14px;
        line-height: 150%;
        color: white;
        max-width: 370px;
    }
}

.categ {
    padding-top: 80px;
    margin-left: 30px;
}

.lastbtn {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.lastbtnn {
    background: none;
    border: none;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    color: lightgray;
    padding: 10px 20px;
    background: #0f0f0f;
}

.mail {
    max-width: 350px;
    padding-top: 80px;

    &__p {
        font-family: var(--second-family);
        font-weight: 400;
        font-size: 14px;
        line-height: 150%;
        color: white;
        width: 350px;
        margin-bottom: 37px;
    }
}

input {

    background: rgba(255, 255, 255, 0.4);
    padding: 10px 20px;
}

input::placeholder {
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    color: rgb(236, 227, 227)
}

.about__btn {
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    letter-spacing: 0.05em;
    color: white;
    padding: 10px 20px;
    width: 140px;
    height: 41px;
    background-color: #000;

    border: none;
}

form {
    display: flex;
}

.footer {
    justify-content: space-between;

    &__p {
        font-family: var(--second-family);
        font-weight: 400;
        font-size: 12px;
        color: lightgray;
    }

    &__figma {
        font-family: var(--second-family);
        font-weight: 700;
        font-size: 12px;
        text-decoration: underline;
        text-decoration-skip-ink: none;
        text-align: right;
        color: lightgray;

    }

    &__wrapper {
        padding: 17px 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}